# Add @OWNER as an owner of OPA Gatekeeper constraints and templates
ci-pipeline/config-root/cluster/*-constraint.yaml @laidig
ci-pipeline/config-root/cluster/*-template.yaml @laidig
ci-pipeline-unstructured/config-root/constraints @laidig
